{% load staticfiles %}
{% load compress %}


<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    {% compress css %}
        <link rel="stylesheet" href="{% static 'base/CSS/mdtimepicker.css' %}">

        <!-- BS Theme CSS -->
        <link rel="stylesheet" href="{% static 'dashboard/toolkit-light.css' %}">

        <!-- jQueryUI CSS -->
        <link rel="stylesheet" href="{% static 'base/CSS/jquery-ui.css' %}">
        <link rel="stylesheet" href="{% static 'base/CSS/jquery-ui.theme.css' %}">

    {% endcompress %}


    {% block head %}
    <title>Vacany App - Welcome</title>
    {% endblock %}
</head>
<body>
    {% block body %}

        <!-- nav
        <div class="container-fluid" id="allContainer">
            <nav class="iconav">
                <a class="iconav-brand" href="{% url 'homepage' %}">
                  <span class="icon icon-home iconav-brand-icon"></span>
                </a>
                <div class="iconav-slider">
                  <ul class="nav nav-pills iconav-nav flex-md-column">
                    <li class="nav-item">
                      <a class="nav-link" href="#" title="Overview" data-toggle="tooltip" data-placement="right" data-container="body">
                        <span class="icon icon-leaf"></span>
                        <small class="iconav-nav-label hidden-md-up">Overview</small>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#" title="Order history" data-toggle="tooltip" data-placement="right" data-container="body">
                        <span class="icon icon-text-document"></span>
                        <small class="iconav-nav-label hidden-md-up">History</small>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#" title="Fluid layout" data-toggle="tooltip" data-placement="right" data-container="body">
                        <span class="icon icon-globe"></span>
                        <small class="iconav-nav-label hidden-md-up">Fluid layout</small>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#" title="Icon-nav layout" data-toggle="tooltip" data-placement="right" data-container="body">
                        <span class="icon icon-area-graph"></span>
                        <small class="iconav-nav-label hidden-md-up">Icon nav</small>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active" href="#" title="Docs" data-toggle="tooltip" data-placement="right" data-container="body">
                        <span class="icon icon-list"></span>
                        <small class="iconav-nav-label hidden-md-up">Docs</small>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#" title="Light UI" data-toggle="tooltip" data-placement="right" data-container="body">
                        <span class="icon icon-flash"></span>
                        <small class="iconav-nav-label hidden-md-up">Light UI</small>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#" title="Signed in as mdo" data-toggle="tooltip" data-placement="right" data-container="body">
                        <img src="../assets/img/avatar-mdo.png" alt="" class="img-circle img-responsive">
                        <small class="iconav-nav-label hidden-md-up">@mdo</small>
                      </a>
                    </li>
                  </ul>
                </div>
            </nav>




        </div>

        -->

        <p>{{ ip }}</p>


    {% endblock %}

    <!-- jQuery, jQueryUI and Bootstrap CSS -->
    <script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous">
    </script>
    <script
      src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
      integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30="
      crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    {% compress js %}
    <script src="{% static 'dashboard/toolkit.js' %}"></script>
    {% endcompress %}
    <script src="{% static 'base/JS/mdtimepicker.js' %}"></script>

    <script type="text/javascript" id="globalJS">
        $(function () {
            $.datepicker.setDefaults( $.datepicker.regional[ "tr" ] );
            $('.datepicker').datepicker({
                dateFormat: 'dd/mm/yy',
                startDate: '-3d'
            });
        });
    </script>

    {% block script %}

    {% endblock %}
</body>
</html>