{% load staticfiles %}
{% load compress %}


<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">


    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    {% compress css %}
        <link rel="stylesheet" href="{% static 'base/CSS/mdtimepicker.css' %}">

        <!-- BS Theme CSS -->
        <link rel="stylesheet" href="{% static 'dashboard/toolkit-light.css' %}">

        <!-- jQueryUI CSS -->
        <link rel="stylesheet" href="{% static 'base/CSS/jquery-ui.css' %}">
        <link rel="stylesheet" href="{% static 'base/CSS/jquery-ui.theme.css' %}">

        <!-- custom css -->
        <link rel="stylesheet" href="{% static 'base/CSS/base.css' %}">

    {% endcompress %}

    <script src="https://kit.fontawesome.com/3ac6e51aa8.js"></script>

    {% block head %}
    <title>Vacany App</title>
    {% endblock %}
</head>
<body>
    <!--
    <nav class="col-md-2 iconav" id="navCol">
        <a class="iconav-brand" href="{% url 'homepage' %}">
          <span class="icon icon-home iconav-brand-icon"></span>
        </a>
        <div class="iconav-slider">
          <ul class="nav nav-pills iconav-nav flex-md-column">
            <li class="nav-item">
              <a class="nav-link" href="#" title="Overview" data-toggle="tooltip" data-placement="right" data-container="body">
                <span class="icon icon-leaf"></span>
                <small class="iconav-nav-label hidden-md-up">Overview</small>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" title="Order history" data-toggle="tooltip" data-placement="right" data-container="body">
                <span class="icon icon-text-document"></span>
                <small class="iconav-nav-label hidden-md-up">History</small>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" title="Fluid layout" data-toggle="tooltip" data-placement="right" data-container="body">
                <span class="icon icon-globe"></span>
                <small class="iconav-nav-label hidden-md-up">Fluid layout</small>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" title="Icon-nav layout" data-toggle="tooltip" data-placement="right" data-container="body">
                <span class="icon icon-area-graph"></span>
                <small class="iconav-nav-label hidden-md-up">Icon nav</small>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#" title="Docs" data-toggle="tooltip" data-placement="right" data-container="body">
                <span class="icon icon-list"></span>
                <small class="iconav-nav-label hidden-md-up">Docs</small>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" title="Light UI" data-toggle="tooltip" data-placement="right" data-container="body">
                <span class="icon icon-flash"></span>
                <small class="iconav-nav-label hidden-md-up">Light UI</small>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" title="Signed in as mdo" data-toggle="tooltip" data-placement="right" data-container="body">
                <img src="../assets/img/avatar-mdo.png" alt="" class="img-circle img-responsive">
                <small class="iconav-nav-label hidden-md-up">@mdo</small>
              </a>
            </li>
          </ul>
        </div>
    </nav>
        -->




        <div class="container-fluid" id="allContainer">
            <div class="row" id="allRow">
                <nav class="col-md-2 navbar navbar-expand-md navbar-light" id="nav">
                    <div id="navbarTop">
                        <a class="navbar-brand " href="{% url 'homepage' %}" id="logolink"><i class="fas fa-2x fa-door-open" id="logo"></i><p class="navLabel" style="font-family: 'Open Sans', sans-serif;"> Vacany App</p>
                        <svg id="waves" width="100%" height="92px" viewBox="0 0 250 92" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <g id="Page-2" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g id="Desktop-HD" transform="translate(0.000000, -140.000000)" fill="#FFFFFF">
                                    <g id="Left-Part">
                                        <g id="Group-2">
                                            <g id="Group" transform="translate(0.000000, 140.277778)">
                                                <path d="M0,24.7665454 C32.0642031,50.515917 73.6450687,53.8967468 124.742597,34.9090348 C175.840125,15.9213227 217.592593,19.316105 250,45.0933817 L250,91.5781691 L0,91.5781691 L0,24.7665454 Z" id="Rectangle"></path>
                                                <path d="M0,16.7551642 C32.0642031,45.6057448 73.6450687,49.3937558 124.742597,28.1191971 C175.840125,6.84463849 217.592593,10.6482824 250,39.5301289 L250,91.6134622 L0,91.6134622 L0,16.7551642 Z" id="Rectangle-Copy-2" opacity="0.14"></path>
                                                <path d="M0,8.42183088 C32.0642031,37.2724115 73.6450687,41.0604225 124.742597,19.7858638 C175.840125,-1.48869484 217.592593,2.31494906 250,31.1967955 L250,83.2801289 L0,83.2801289 L0,8.42183088 Z" id="Rectangle-Copy-4" opacity="0.1"></path>
                                                <path d="M0,2.17183088 C32.0642031,31.0224115 73.6450687,34.8104225 124.742597,13.5358638 C175.840125,-7.73869484 217.592593,-3.93505094 250,24.9467955 L250,77.0301289 L0,77.0301289 L0,2.17183088 Z" id="Rectangle-Copy-5" opacity="0.05"></path>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </svg></a>
                          <button class="navbar-toggler" id="navCollapseButton" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                          </button>
                    </div>

                  <div class="collapse navbar-collapse flex-md-column" id="navbarSupportedContent">
                    <ul class="navbar-nav flex-md-column">
                      <li class="nav-item active">
                        <a class="nav-link" href="#"><i class="far fa-2x fa-calendar-alt navIcon"></i><p class="navLabel" > Takvimler</p></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'new_reservation' %}"><i class="fas fa-2x fa-concierge-bell navIcon"></i><p class="navLabel" > Rezervasyon Yap</p></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fas fa-2x fa-user-lock navIcon"></i><p class="navLabel" > Giriş Yap</p></a>
                      </li>
                    </ul>
                  </div>
                </nav>

                <!-- page content -->
                <div class="col" id="pageCol">
                    {% block body %}
                     <p>{{ ip }}</p>
                        <a href="{% url 'social:begin' 'google-oauth2' %}"><input value="Login" class="btn btn-success" type="button"></a>
                    <div class="temp" style="background: red; border: 10px solid black;"></div>


                    {% endblock %}
                </div>
            </div>
        </div>





    <!-- jQuery, jQueryUI and Bootstrap CSS -->
    <script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous">
    </script>
    <script
      src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
      integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30="
      crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    {% compress js %}
    <script src="{% static 'dashboard/toolkit.js' %}"></script>
    {% endcompress %}
    <script src="{% static 'base/JS/mdtimepicker.js' %}"></script>

    <script type="text/javascript" id="globalJS">
        $(function () {
            $.datepicker.setDefaults( $.datepicker.regional[ "tr" ] );
            $('.datepicker').datepicker({
                dateFormat: 'dd/mm/yy',
                startDate: '-3d'
            });


            if ($( window ).width() < 768) $("#nav").removeClass("container-fill-height");
                else $("#nav").addClass("container-fill-height");

            $( window ).resize(function() {
                if ($( window ).width() < 768) $("#nav").removeClass("container-fill-height");
                else $("#nav").addClass("container-fill-height");
            });

            /*

            let labelList=[]
            let lbCounter=0
            $(".navLabel").each(function(){
                    labelList.push($(this).css('width'));
                    console.log("workin it");
                    $(this).width('50px');
                    lbCounter+=1;
            });

            $("nav").hover(function () {
                $(this).animate({'padding':'15px 10px 15px 10px'}).clearQueue().css('text-align','left');
                lbCounter=0;
                $(".navLabel").each(function(){
                    $(this).css({'width':""+labelList[lbCounter],'padding-left':"10px"});
                });
            }).mouseleave(function () {
                lbCounter=0;
                $(this).animate({'padding':'15px 0px 15px 0px'}).clearQueue().css('text-align','center');
                $(".navLabel").each(function(){
                    $(this).css({'width':"0px",'padding-left':"0px"});

                });
            });

            */


        });

    </script>

    {% block script %}

    {% endblock %}
</body>
</html>